################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BB_Deob/BB_Deob/bin/Debug
